@model AllBooksServiceModel

@{
    ViewBag.Title = "All Books";
}

@if (TempData.ContainsKey(SuccessfullyEditedBookKey))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData[SuccessfullyEditedBookKey]
    </div>
}
@if (TempData.ContainsKey(SuccessfullyDeletedBookKey))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData[SuccessfullyDeletedBookKey]
    </div>
}
@if (TempData.ContainsKey(UnsuccessfullyDeletedBookKey))
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData[UnsuccessfullyDeletedBookKey]
    </div>
}

<partial name="_BooksListingPartial" model="@Model"/>