@model AllBooksServiceModel

@{
    ViewBag.Title = "My Library";
}

@if (TempData.ContainsKey(SuccessfullyEditedBookKey))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData[SuccessfullyEditedBookKey]
    </div>
}
@if (TempData.ContainsKey(SuccessfullyAddedBookKey))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData[SuccessfullyAddedBookKey]
    </div>
}

<partial name="_BooksListingPartial" model="@Model" />